* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

.content {
    width: 100%;
    position: fixed;
    z-index: 5;
}

#ser1 {
    position: absolute;
    top: 4px;
    left: 62.5%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 19px;
    background-color: darkblue;
}


/*navbar*/

#angle {
    margin-left: 10px;
}

.menu {
    margin-left: -10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    text-align: center;
    z-index: 7;
}

.menu ul {
    margin-left: -80px;
    display: inline-flex;
    list-style: none;
    color: blue;
}

.menu ul li {
    font-size: 20px;
    width: 200px;
    margin-left: 35px;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul :hover {
    border-radius: 3px;
}

.submenu {
    display: none;
}

.menu ul li:hover .submenu {
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    margin-top: 17px;
    margin-left: 50px;
}

.submenu ul {
    display: block;
    margin: 10px;
    margin-top: 15px;
}

.submenu ul li {
    width: 250px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin-left: -20px;
    text-align: left;
}

.submenu ul li:last-child {
    border-bottom: none;
}

.submenu ul li a:hover {
    color: rgb(157, 157, 157);
}

.submenu2 {
    display: none;
}

.ho1:hover .submenu2 {
    position: absolute;
    display: block;
    margin-left: 140px;
    margin-top: -40px;
    background-color: aquamarine;
}

.sign {
    position: relative;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid #ccc;
    border-radius: 13px;
    padding: 13px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    left: 4%;
    box-shadow: 0px 10px 15px #c0c0c0;
}

.sign:hover {
    color: rgb(0, 21, 255);
}

#icon {
    position: relative;
    font-size: 40px;
    color: rgb(0, 0, 0);
    bottom: -13px;
    margin-left: 30px;
}

#i1 {
    width: 110px;
    margin: 10px 0px 0px 30px;
}

.logo2 {
    position: absolute;
    margin: 8px 0px 0px -220px;
    font-size: 35px;
    color: black;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: oblique;
}

.I {
    background-color: lightgray;
    margin: -10px 0px 0px -10px;
}

.searchbar {
    text-align: center;
    margin-left: 340px;
    position: absolute;
    top: 15px;
    width: 74%;
}

.container1 {
    margin-left: -10px;
    width: 110%;
    height: 530px;
    margin-top: 250px;
    border: 1px solid #8b8b8b;
    box-shadow: 0px 10px 15px #ccc;
}

.component1 img {
    margin-top: 40px;
    margin-left: 70px;
    float: left;
    width: 37%;
    height: 450px;
    border: 1px solid #8b8b8b;
    box-shadow: 0px 10px 15px #8b8b8b;
}

.star {
    font-size: 25px;
    color: gold;
    z-index: 1;
}

.rating {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(123, 123, 123);
    font-style: oblique;
    letter-spacing: 2px;
}

.desc {
    position: relative;
    top: 40px;
    margin: 0px 0px 0px 43.4%;
    font-size: 40px;
    font-weight: bolder;
}

.desc1 {
    position: relative;
    top: 50px;
    margin-left: 43.4%;
}

.desc2 {
    position: relative;
    top: 60px;
    margin-left: 43.4%;
    font-size: 35px;
    font-weight: 600;
}

.desc2 span {
    font-size: 20px;
    color: rgb(0, 179, 255);
    margin-left: 1px;
}

.desc3 {
    position: relative;
    top: 70px;
    font-size: 22px;
    color: #8b8b8b;
    margin-left: 43.4%;
}

#op1 {
    font-size: 20px;
    border: transparent;
    border-radius: 15px;
    padding: 10px;
    margin-left: 3px;
    color: rgb(0, 179, 255);
    font-weight: 600;
}

.b1 {
    position: relative;
    top: 100px;
    margin-left: 43.4%;
}

.b1 input {
    width: 380px;
    height: 70px;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(0, 200, 255);
    font-weight: 600;
    color: white;
}

.b1 input:hover {
    color: rgb(38, 0, 255);
    cursor: pointer;
}

.i1 {
    position: absolute;
    border: 1px solid #ccc;
    margin-left: 48%;
    padding: 5px 10px 5px 10px;
    border-radius: 100%;
}

.i2 {
    position: absolute;
    border: 1px solid #ccc;
    margin-left: 55%;
    padding: 5px 11px 5px 10px;
    border-radius: 100%;
}

#op2 {
    position: relative;
    top: 150px;
    margin: 0px 0px 0px 43.4%;
    font-size: 25px;
    font-weight: lighter;
}

.s1 {
    font-size: 20px;
    margin-left: 10px;
    color: #8b8b8b;
}

.c1 {
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #ccc;
    width: 70%;
    height: 600px;
    float: left;
    margin: 40px 0px 0px 30px;
}

.c2 {
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #ccc;
    float: left;
    width: 25%;
    height: 300px;
    margin: 40px 0px 0px 40px;
}

.c1 h2 {
    margin: 40px 0px 0px 50px;
    font-size: 35px;
}

.c3 {
    float: left;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #ccc;
    height: 500px;
    margin: 40px 0px 0px 30px;
}

.c4 {
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #ccc;
    margin: -250px 0px 0px 40px;
    height: 500px;
    width: 25%;
}

.r1 {
    margin: 70px 0px 0px 20px;
}

.k1 {
    position: relative;
    top: 10%;
    margin-left: 6%;
    color: rgb(95, 95, 95);
    float: left;
}

.k2 {
    position: relative;
    top: 10%;
    margin-left: 12%;
    color: rgb(95, 95, 95);
    float: left;
}

.k3 {
    position: relative;
    top: 10%;
    margin-left: 10%;
    color: rgb(95, 95, 95);
    float: left;
}

.k4 {
    position: relative;
    top: 10%;
    margin-left: 12%;
    color: rgb(95, 95, 95);
    float: left;
}

.k5 {
    position: relative;
    top: 10%;
    margin-left: 12%;
    color: rgb(95, 95, 95);
    float: left;
}

.desk1 {
    position: relative;
    top: 10%;
    margin-left: 6px;
    color: #6a6a6a;
    margin-top: 7px;
}

.desk2 {
    position: relative;
    top: 10%;
    margin-left: -7px;
    color: #000000;
    margin-top: 7px;
    font-size: 23px;
    font-weight: 500;
}

.k1 .desk2 {
    margin-left: 1px;
}

.k2 .desk2 {
    margin-left: -60px;
}

.k3 .desk2 {
    margin-left: -40px;
}

.k4 .desk2 {
    margin-left: -55px;
}

.k4 .desk1 {
    margin-left: -1px;
}

.k3 .desk1 {
    margin-left: 2px;
}

.k5 .desk1 {
    margin-left: -25px;
}

.k5 .desk2 {
    margin-left: -70px;
}