* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    zoom: 67%
}

.content {
    width: 100%;
    position: fixed;
    z-index: 5;
}

#ser1 {
    position: absolute;
    top: 4px;
    left: 62.5%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 19px;
    background-color: darkblue;
}


/* search */

.container90 .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 100%;
    margin: 38px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 800px;
    height: 50px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: -20px;
    left: 40px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
    text-indent: 20px;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.search_box .btn {
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background: #7690da;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #3d71f3;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_6 .search_box .input {
    border-radius: 50px;
}

.search_wrap.search_wrap_6 .search_box .btn {
    width: 125px;
    height: 45px;
    top: -6px;
    right: -185px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn {
    border-radius: 25px;
}

.search_wrap.search_wrap_6 .search_box .input {
    padding-right: 145px;
}

.searchlist::-webkit-scrollbar {
    display: none;
}

#myUL {
    padding: 10px 40px 20px 40px;
    text-decoration: none;
    font-size: 23px;
    list-style-type: none;
    text-align: left;
    word-spacing: 2px;
    display: flexbox;
}

#myUL p a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    word-spacing: 3px;
    letter-spacing: 1.3px;
}

.searchlist {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    position: relative;
    top: 60px;
    left: 70px;
    background-color: #fff;
    display: flexbox;
    overflow: scroll;
    display: none;
}

#icon9 {
    width: 50px;
    height: 50px;
    position: relative;
    top: -360px;
    right: -95%;
    display: none;
}


/*navbar*/

#angle {
    margin-left: 10px;
}

.menu {
    margin-left: -10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    text-align: center;
    z-index: 7;
}

.menu ul {
    margin-left: -80px;
    display: inline-flex;
    list-style: none;
    color: blue;
}

.menu ul li {
    font-size: 20px;
    width: 200px;
    margin-left: 35px;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul :hover {
    border-radius: 3px;
}

.submenu {
    display: none;
}

.menu ul li:hover .submenu {
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    margin-top: 17px;
    margin-left: 50px;
}

.submenu ul {
    display: block;
    margin: 10px;
    margin-top: 15px;
}

.submenu ul li {
    width: 250px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin-left: -20px;
    text-align: left;
}

.submenu ul li:last-child {
    border-bottom: none;
}

.submenu ul li a:hover {
    color: rgb(157, 157, 157);
}

.submenu2 {
    display: none;
}

.ho1:hover .submenu2 {
    position: absolute;
    display: block;
    margin-left: 250px;
    margin-top: -45px;
    background-color: rgb(255, 255, 255);
}

#lan {
    position: absolute;
    border: 0;
    top: 28px;
    height: 50px;
    margin-left: 360px;
    border-radius: 13px;
    font-size: 17px;
    padding: 0px 0px 0px 15px;
    font-style: oblique;
}

.ico1 lord-icon {
    position: absolute;
    top: 19%;
    right: 8%;
    width: 60px;
    height: 60px;
}


/* search */

.container90 .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 100%;
    margin: 38px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 800px;
    height: 50px;
}

.search_wrap .search_box .input {
    position: absolute;
    top: -20px;
    left: 40px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 20px;
    text-indent: 20px;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.search_box .btn {
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background: #7690da;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #3d71f3;
}

.search_wrap .search_box .btn.btn_common .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

.search_wrap.search_wrap_6 .search_box .input {
    border-radius: 50px;
}

.search_wrap.search_wrap_6 .search_box .btn {
    width: 125px;
    height: 45px;
    top: -6px;
    right: -185px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn {
    border-radius: 25px;
}

.search_wrap.search_wrap_6 .search_box .input {
    padding-right: 145px;
}

.sign {
    position: absolute;
    margin-left: 1270px;
    width: 10%;
    top: 28px;
    left: 100px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 13px;
    padding: 13px;
    background: #3d71f3;
    color: white;
    left: 4%;
}

.sign:hover {
    background: #7690da;
}

#icon {
    position: relative;
    font-size: 40px;
    color: rgb(0, 0, 0);
    bottom: -13px;
    margin-left: 30px;
}

#i1 {
    width: 110px;
    margin: 26px 0px 0px 30px;
}

.logo2 {
    position: absolute;
    margin: 22px 0px 0px -210px;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: oblique;
}

.I {
    background-color: slategray;
    margin: -10px 0px 0px -10px;
    height: 150px;
}

.searchbar {
    text-align: center;
    margin-left: 340px;
    position: absolute;
    top: 15px;
    width: 74%;
}

h1 {
    margin: 25px 20px 20px 50px;
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 1.7px;
}

.con {
    max-width: 98%;
    width: 100%;
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

#section1 {
    margin: 60px;
}

.gallery {
    width: 70%;
    margin: 5px;
    border: 1px solid #ccc;
}

.gallery img {
    width: 100%;
    height: 340px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px #8b8b8b;
}

.desc {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    letter-spacing: 2px;
}

.desc1 {
    color: gray;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 15px;
}

#I1 {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 1px outset gray;
    border-radius: 8px;
    font-size: 19px;
    font-variant: small-caps;
    font-weight: 500;
}

#I1:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.06);
    box-shadow: 0 10px 15px #ccc;
}

.container71 {
    width: 75%;
    height: 245px;
    margin: 0px 0px 260px 20px;
}

.content71 {
    margin-top: 240px;
    width: 100%;
    border: 1px solid #ccc;
    height: 260px;
    box-shadow: 0px 10px 15px #8b8b8b;
    text-align: justify;
}

.desc71 {
    margin: 35px 20px 20px 50px;
    font-size: 20px;
    margin-right: 50px;
}

.p1 {
    width: 69%;
    height: 5800px;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    margin: 0px 20px 0px 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.p2 {
    width: 27%;
    height: 1340px;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.p3 {
    width: 27%;
    height: 310px;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 22px;
}

.p4 {
    width: 27%;
    height: 680px;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #8b8b8b;
    margin-top: 30px;
    position: relative;
    left: -6px;
}

.con1 {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: 30px;
}

.box1 img:hover {
    transform: scale(1.1);
}

.box1 {
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.box1 img {
    width: 100%;
    height: 90px;
    margin-left: 0px;
}

.txt2 {
    font-size: 25px;
    font-weight: bold;
    margin: 25px 25px 25px 30px;
}

.con2 {
    display: grid;
    /* gap: 50px; */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin: 30px;
}

.box2 img:hover {
    transform: scale(1.1);
}

.box2 {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box2 img {
    width: 100%;
    height: 100px;
    margin-left: 0px;
}

.con2 .box2 a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

#lan option {
    margin: 0px;
    font-size: 17px;
}

.container1 {
    margin-top: 50px;
    margin-left: -10px;
    width: 250%;
    height: 200px;
    border: 1px solid #ccc;
    z-index: 1;
}

#f2 {
    margin: 50px 0px 0px 60px;
    float: left;
}

#d1 {
    font-weight: bold;
    position: absolute;
    margin: 60px 0px 0px 20px;
    font-size: 30px;
}

#d2 {
    position: absolute;
    margin: 95px 0px 0px 20px;
    font-size: 25px;
}

#f3 {
    position: absolute;
    margin: 40px 0px 0px 360px;
}

#d3 {
    font-weight: bold;
    position: absolute;
    margin: 60px 0px 0px 470px;
    font-size: 30px;
}

#d4 {
    position: absolute;
    margin: 95px 0px 0px 470px;
    font-size: 25px;
}

#f4 {
    position: absolute;
    margin: 50px 0px 0px 860px;
}

#d5 {
    font-weight: bold;
    position: absolute;
    margin: 60px 0px 0px 970px;
    font-size: 30px;
}

#d6 {
    position: absolute;
    margin: 95px 0px 0px 970px;
    font-size: 25px;
}

#f5 {
    position: absolute;
    margin: 50px 0px 0px 1310px;
}

#d7 {
    font-weight: bold;
    position: absolute;
    margin: 60px 0px 0px 1450px;
    font-size: 30px;
}

#d8 {
    position: absolute;
    margin: 95px 0px 0px 1450px;
    font-size: 25px;
}

.m1 {
    float: left;
}

.container2 {
    margin-left: -10px;
    width: 300%;
    height: 400px;
    border: 1px solid #ccc;
    background-color: slategrey;
}

.componet2 {
    margin: 50px 0px 50px 70px;
}

.componet3 {
    margin: 70px 0px 70px 700px;
}

.text1 {
    font-size: 18px;
    color: #ffffff;
}

.text2 {
    font-size: 18px;
    color: #ffffff;
}

.container3 {
    width: 300%;
    margin-left: -10px;
    height: 90px;
    background-color: black;
    color: white;
}

.foot1 {
    margin: 30px 0px 30px 40px;
    font-size: 19px;
    font-weight: bolder;
    float: left;
}

.foot2 {
    margin: 30px 0px 30px 40px;
    font-size: 22px;
    float: left;
    font-weight: bolder;
    position: absolute;
    right: 25%;
}

.foot3 {
    margin: 33px 0px 30px 40px;
    font-size: 19px;
    float: left;
    font-weight: bolder;
    position: absolute;
    right: 2%;
    word-spacing: 30px;
}

.emi0 {
    position: relative;
    top: 30px;
    left: 350px;
    color: rgb(255, 0, 0);
    font-size: 80px;
    z-index: 1;
}

.emi {
    margin: 20px 0px 0px 20px;
    font-size: 23px;
    color: #6a6a6a;
}

.emi1 {
    position: relative;
    top: -115px;
    margin: 20px 0px 0px 20px;
    font-size: 30px;
    font-weight: bold;
}

.emi2 {
    position: relative;
    top: -125px;
    margin: 20px 0px 0px 20px;
    font-size: 17px;
}

.emi3 input {
    position: relative;
    width: 300px;
    height: 60px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    top: -70px;
    left: 20px;
    font-size: 17px;
}

.d15 {
    position: relative;
    top: 0px;
    left: 4px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 183, 255);
}


/* .b1 {
    position: relative;
    top: 100px;
    margin-left: 43.4%;
} */

.b1 input {
    width: 100%;
    height: 65px;
    font-size: 23px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(0, 208, 255);
    font-weight: 600;
    color: white;
    margin-top: 13px;
}

.b1 input:hover {
    color: rgb(38, 0, 255);
    cursor: pointer;
}

.componet44 {
    width: 100%;
    height: 1040px;
    position: relative;
    top: 270px;
    box-sizing: border-box;
    padding: 0 20px;
    scroll-padding-top: 250px;
}

.section44 {
    float: left;
    width: 100%;
    height: 720px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px #cfcfcf;
    border-radius: 20px;
    box-sizing: border-box;
}

.box41 {
    width: 70%;
    height: 490px;
    box-sizing: border-box;
    padding: 20px 50px;
    margin: 55px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #cfcfcf;
    position: relative;
    top: -10px;
    margin-left: 270px;
}

.box41 lord-icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 850px;
    border: 1px solid #ccc;
    border-radius: 75px;
}

.box42 {
    width: 50%;
    height: 490px;
    box-sizing: border-box;
    padding: 20px 50px;
    margin: 55px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #cfcfcf;
    position: relative;
    top: -610px;
    float: right;
}

.bt4 {
    width: 50%;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #ccc;
    position: relative;
    top: -170px;
    left: 6%;
    z-index: 1;
    background-color: #0398DC;
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-style: oblique;
    cursor: pointer;
}

.bt4:hover {
    background-color: #68ccf9;
}

#bt4 {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    position: relative;
    top: 35px;
    left: 20%;
    z-index: 1;
    background-color: #0398DC;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
    cursor: pointer;
}

.us41 {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-style: oblique;
    font-weight: 700;
}

.us42 {
    position: relative;
    top: 10px;
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    padding: 10px;
    width: 40%;
}

.r41 {
    width: 50%;
    border: 1px solid #b7b7b7;
    height: 150px;
    display: inline-flex;
    position: relative;
    top: 20px;
    border-radius: 0 10px;
    background-color: #ebebeb;
    margin-bottom: 20px;
}

.r42 {
    width: 100%;
    border: 1px solid slategray;
    height: 40px;
    border-radius: 0 10px;
    font-weight: 700;
    font-style: oblique;
    text-align: justify;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: white;
}

.r43 {
    font-size: 14px;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-style: oblique;
    text-align: justify;
    text-indent: 30px;
    position: relative;
    top: 40px;
    border: 1px solid slategray;
    height: 90px;
    border-radius: 0 10px;
    padding: 10px;
}

.txt44 {
    font-size: 44px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    top: 0px;
}

#pra {
    font-size: 20px;
    position: relative;
    top: -50px;
    left: 63%;
    color: red;
    font-weight: bold;
}

.oo lord-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 84%;
    left: 700px;
}

.componet49 {
    width: 100%;
    border: 1px solid #ccc;
    height: 500px;
    position: relative;
    top: 780px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px #b7b7b7;
}

.r111 {
    width: 100%;
    height: 150px;
    display: inline;
    position: relative;
    top: 80px;
    border-radius: 0 10px;
    background-color: #ebebeb;
}

.r211 {
    width: 40%;
    border: 1px solid slategray;
    height: 40px;
    border-radius: 0 10px;
    font-weight: 700;
    font-style: oblique;
    text-align: justify;
    display: flex;
    position: relative;
    top: -16px;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: white;
    font-size: 20px;
}

.r311 {
    font-size: 20px;
    color: rgb(83, 83, 83);
    font-weight: 400;
    font-style: oblique;
    text-align: justify;
    text-indent: 30px;
    position: relative;
    top: -33px;
    border: 1px solid slategray;
    height: 88px;
    border-radius: 0 10px;
    padding: 10px;
}

.r411 input {
    position: absolute;
    top: 800px;
    right: 40px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
}

.r411 input:hover {
    background-color: rgb(255, 81, 81);
}

.r511 input {
    position: absolute;
    top: 800px;
    right: 200px;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 200, 255);
    color: white;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid rgb(0, 200, 255);
    border-radius: 20px;
    cursor: pointer;
}

.r511 input:hover {
    background-color: rgb(104, 207, 251);
}

.r611 {
    position: relative;
    top: -105px;
    right: -85%;
    font-size: 18px;
    border: 1px solid yellow;
    width: 10%;
    font-weight: 600;
    color: slategray;
    text-align: center;
    border-radius: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}