* {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    zoom: 100%;
}

body {
    zoom: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../image/cars/login\ back.jpg');
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
}

.fbox {
    position: relative;
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    opacity: 90%;
}

h2 {
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.inputbox {
    position: relative;
    margin: 30px 0px;
    width: 310px;
    border-bottom: 1px solid black;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.5s;
}

.inputbox input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 35px 0 5px;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    font-size: 17px;
    top: 20px;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.forget {
    margin: -15px 0 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 14px;
}

.forget a {
    color: blue;
    text-decoration: none;
    font-weight: 700;
}

.forget a:hover {
    text-decoration: underline;
}

#button {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background-color: rgb(0, 200, 255);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    color: white;
    position: relative;
    top: 25px;
}

#button:hover {
    background-color: rgb(0, 174, 232);
}

.register {
    font-size: 15px;
    text-align: center;
    margin: 25px 0 10px;
    position: relative;
    top: 20px;
}

.register p a {
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.home a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: blue;
    position: relative;
    text-decoration: none;
    top: 10px;
}

.home a:hover {
    text-decoration: underline;
}

.re {
    font-size: 15px;
    position: relative;
    top: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}